# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Ambientes virtuais
.venv/
venv/
env/

# Ferramentas
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Arquivos de sistema
.DS_Store
Thumbs.db

# Banco local gerado em execução
finops.db
